/* Firefox scrollbars */
.smallscroll {
    --sb-width: 6px;
    --sb-clr: #c1c1c178; /* #666b7a */
    --sb-bkg: #30303080; /* transparent */
    scrollbar-color: var(--sb-clr) var(--sb-bkg);
    scrollbar-width: thin;
}

.smallscroll-light {
    --sb-width: 6px;
    --sb-clr: #30303080; /* #666b7a */
    --sb-bkg: #c1c1c178; /* transparent */
}

/* Chrome scrollbars */
.smallscroll::-webkit-scrollbar {
    width: var(--sb-width);
    height: var(--sb-width);
    background-color: var(--sb-bkg);
}

.smallscroll::-webkit-scrollbar-thumb {
    background-color: var(--sb-clr);
}

body {
    background-image: linear-gradient(to right, var(--tm-primary-300-, #607b9894), var(--tm-primary-800-, #c191917d)),
        url("./assets/background-bw.jpg") /*http://higeom.math.msu.su/history/delone_r.html*/;
    background-blend-mode: multiply;
}

.rects svg {
    --size-div: 4;
    width: calc(1920px / var(--size-div));
    height: calc(1200px / var(--size-div));
    background-color: red; //#f4f4f4

    rect {
        fill: #e8e8e8;
        stroke-width: calc(10 - var(--size-div));
        stroke: #d7a9ff;
    }

    rect.last-field {
        fill: #f0ddb0;
    }

    rect:last-child {
        fill: #00ff62;
    }
}
