/* Firefox scrollbars */
.smallscroll {
    --sb-width: 6px;
    --sb-clr: #c1c1c178; /* #666b7a */
    --sb-bkg: #30303080; /* transparent */
    scrollbar-color: var(--sb-clr) var(--sb-bkg);
    scrollbar-width: thin;
}

/* Chrome scrollbars */
.smallscroll::-webkit-scrollbar {
    width: var(--sb-width);
    height: var(--sb-width);
    background-color: var(--sb-bkg);
}

.smallscroll::-webkit-scrollbar-thumb {
    background-color: var(--sb-clr);
}

body {
    background-image: linear-gradient(to right, var(--tm-primary-300, #607b9894), var(--tm-primary-300, #c191917d)),
        url("./assets/background-bw.jpg") /*http://higeom.math.msu.su/history/delone_r.html*/;
    background-blend-mode: multiply;
}
